// All scss variables used across the app are defined here. 
// Any changes in the color scheme can be achieved from here

$black          : #000;
$white          : #fff;
$grey-light     :#D0CFCE;
$separator-color: $grey-light;
$border-color   : $grey-light;
$heading-text   : $black;
$text-color     : $black;
$error          : #b90707;

$font-family: 'Poppins',
sans-serif;
$search-border-color: #008ABF;