$black          : #000;
$white          : #fff;
$grey-light     :#D0CFCE;
$separator-color: $grey-light;
$border-color   : $grey-light;
$heading-text   : $black;
$text-color     : $black;
$error          : #b90707;

$roboto : 'Roboto',
sans-serif;

$search-border-color: #008ABF;